[Unit]
Description=Dotnet Core Demo service


[Service]
ExecStart=/home/dejan/dotnet /home/dejan/SampleService/publish/Sample.Service.dll
WorkingDirectory=/home/dejan/SampleService/publish/
User=dejan
Group=dejan
Restart=on-failure
SyslogIdentifier=dotnet-sample-service
PrivateTemp=true

[Install]
WantedBy=multi-user.target